table {
	background-color:brown;
	font-family: arial, sans-serif;
	border-collapse: inherit;
	width: 1300px ;
	border:hidden;
}
  td {
  border: 1px solid #a2a52d;
  border-collapse:unset;
   text-align: center;
	padding: initial;
}
th{
	 border: 1px solid #a2a52d;
  border-collapse:unset;
   text-align: center;
	padding: initial;
	width: 1300px;
}
