.table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 10%;
} th, td {
  border: 1px solid black;
   text-align: center;
	padding: 1px;
}
tr:nth-child(even) {
	background-color: transparent;
}